notion-app
micro
pitivi
pavucontrol.ini
pulse
scdl
googlecalendar*
google-chrome
discord
cef_user_data
autostart
Postman
JetBrains
Code*
Abricotine
Electron
chromium
osmo
gedit
dconf
mimeapps.list
configstore
cmst
